* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.timer {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    font-size: 1.2em;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.btn:hover {
    background-color: #45a049;
}
/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.timer {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
}

.input-tempo {
    font-size: 1.2em;
    padding: 10px;
    margin-bottom: 20px;
    width: 60px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    font-size: 1.2em;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.btn:hover {
    background-color: #45a049;
}
